<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Connect 4</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <!--<base href="http://connect4.etiennelefebvre.com">-->
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <div id="app" class="container grid-sm">
            <h1 class="text-center m-2 pt-2">Connect 4</h1>
            <div class="columns player-scores">
                <h2 class="col-4 player-1">
                    <span :class="{ player: player === -1, winner: winner === -1 }">Player 1</span>
                </h2>
                <h2 class="col-4 text-center scores">
                    <samp :class="{ winner: winner === -1 }">{{ stats.p1_wins }}</samp>
                    -
                    <samp :class="{ winner: winner === 1 }">{{ stats.p2_wins }}</samp>
                </h2>
                <h2 class="col-4 player1 text-right">
                    <span :class="{ player: player === 1, winner: winner === 1  }">Player 2</span>
                </h2>
            </div>
            <div class="text-center">
                <div class="board text-center">
                    <div v-for="(row, i) in board" class="row">
                        <div v-for="(c, j) in row" :class="'case player' + c" @click="play(j)">
                            <span>●</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="text-center">
                    Restart game :<br/>
                    <samp>
                        <button @click.prevent="startNewGame(0)" class="btn btn-primary btn-sm">Player vs Player</button>
                        <button @click.prevent="startNewGame(1)" class="btn btn-primary btn-sm">AI Neural Network</button>
                        <button @click.prevent="startNewGame(2)" :class="{ loading: loading }" class="btn btn-primary btn-sm">AI AlphaBeta</button>
                    </samp>
                </div>

                <div class="text-center m-2 p-2">
                    <samp>{{ stats.matches }} matches, {{ stats.draws }} draws</samp>
                    <button @click="resetStats()" class="btn btn-primary btn-small btn-link">Reset stats</button>
                </div>

                <div class="divider"></div>

                <div class="results">
                    <span class="mr-2"> Last results : </span>
                    <span> □ </span>
                    <span v-for="r in results" :class="'player' + r"> ■ </span>
                </div>

                <div class="divider mb-2 pb-2"></div>

            </div>
        </div>
    <script src="app.js"></script>
    </body>
</html>
