
body {
    background-color: #212121 !important;
    color: #eee !important;
}

.divider {
    border-top: .05rem solid #505050 !important;
}

.board {
    display: inline-block;
}

.row {
    height: 50pt;
    margin: 4px;
}

.case {
    width: 50pt;
    height: 50pt;
    margin: 2px;
}

.case {
    display: inline-block;
    background-color: #444;
    color: #888;
    text-align: center;
    font-weight: bold;
    font-size: 34pt;
    cursor: pointer;
    position: relative;
}

.case span {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    transition: color .2s ease-in-out;
}

.player-1 {
    color: #f6b93b;
}

.player0 {
    color: #555;
}

.player1 {
    color: #e55039;
}

.player-scores span {
    padding: 3px 10px;
    border: 3px solid #00000000;
    transition: border .1s ease-in-out;
}
.player-scores .scores .winner {
    font-weight: bold;
}
.player-scores span.winner {
    text-decoration: underline;
}

.player-scores .player-1 span.player {
    border: 3px solid #f6b93b;
}
.player-scores .player1 span.player {
    border: 3px solid #e55039;
}
